* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header_background {
    background-color: black;
    color: white;
}

.section {
    margin-top: 25px;
    margin-left: 15px;
}

.margin_items {
    margin-top: 25px;
    margin-left: 15px;
    border-left: white;
    display: flex;
}

#app {
	height: 100vh;
	background-color: #333;
	color: white;
	display: flex;
}

#app header {
	background-color: black;
	padding: 20px;
	width: 280px;
}

.prova {
    background-color: #212836;
}

.flex_box {
    display: flex;
    flex-wrap: wrap;
}

.edit_items {
    margin:  30px 40px;
}