* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header_background {
    background-color: black;
    color: white;
}

.section {
    margin-top: 25px;
    margin-left: 25px;
}

.margin_items {
    margin-left: 15px;
    border-left: white;
    display: flex;
}

#app {
	height: 100vh;
	background-color: #141923;
	color: white;
	display: flex;
}

#app header {
	background-color: black;
	padding: 20px;
	width: 250px;
}

.flex_box {
    display: flex;
    flex-wrap: wrap;
}

.edit_items {
    margin:  40px;
}

ul, li {
    line-height: 25px;
}

.margin_bottom_list {
    margin-bottom: 18px;
}

.page_footer {
    display: flex;
}

.nav_footer  {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
    background-color: #282828;
    color: white;
    padding: 10px;
}